           cn = "VPN server"
           dns_name = "www.example.com"
           dns_name = "vpn1.example.com"
           organization = "MyCompany"
           expiration_days = -1
           signing_key
           encryption_key #only if the generated key is an RSA one
           tls_www_server
